:root {
    --button-color: #1762A7;
    --text-color: #FFFFFF; 
}

.ButtonJoinNow {
    background-color: var(--button-color);
    border-radius: 10px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    width: 124px;
    height: 51px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}